<a href="https://colab.research.google.com/github/thxsxth/RLMimic/blob/master/Vaso_Fluid_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cd 'drive/My Drive/sepsis3-cohort'

/content/drive/My Drive/sepsis3-cohort

# This NoteBook will Describe Cohort selection, and final data preperation. 

Whilst it is rather long you can open it in Colab and choose the respective section from the table to conetents to navigate

In [ ]:
import torch
import numpy as np
import pandas as pd
import datetime as dt
import random
import time
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset,DataLoader
import torch.nn.functional as F
import os
import glob
from torch.nn.utils.rnn import pad_sequence, pack_padded_sequence,pad_packed_sequence

## Making the necessary Imports

### Vitals, Sofa, Labs are directly imported from Big Query
vaso_df is derived so that we have starttime and end time of Vasopressor Durations broken into hourly intervals

In [ ]:
vitals=pd.read_csv('./Vitals/Vitals.csv',parse_dates=['charttime']) #pivoted vitals
sofa=pd.read_csv('./pivoted_sofa/pivoted_sofa.csv',parse_dates=['endtime','starttime']) #pivoted sofa
# sofa_vaso=pd.read_csv('./pivoted_sofa/sofa_vaso.csv',parse_dates=['endtime','starttime']) 
labs=pd.read_csv('./pivoted_labs/Pivoted_labs.csv',parse_dates=['charttime'])
vaso_df=pd.read_csv('Vaso_full.csv',parse_dates=['endtime','starttime'])

print('DONE')

DONE

In [ ]:
# vaso=pd.read_csv('./pivoted_sofa/vasopressin.csv',parse_dates=['endtime','starttime']) 
# print("DONE")

DONE

### Now we will merge using pd.merge so that sofa will contain the rates rate_vasopressin','rate_phenylephrine in addition to what it already had

In [ ]:
sofa_merged=sofa.merge(vaso_df[['icustay_id','starttime','rate_vasopressin','rate_phenylephrine']],on=['icustay_id','starttime'],how='outer')
sofa_merged.to_csv('sofa_with_vaso3.csv',index=False)
print('Done')

#### Now let's check if this had worked as expected

In [ ]:
sofa_merged[sofa_merged.icustay_id==200024]

In [ ]:
pat=np.random.choice(list(sofa.icustay_id))
# pat=200030
sofa[sofa.icustay_id==pat].head()

         icustay_id   hr  ... renal_24hours SOFA_24hours
2813598      252135    0  ...             2            2
2813599      252135    1  ...             2            2
2813600      252135    2  ...             2            2
2813601      252135    3  ...             2            2
2813602      252135    4  ...             2            2
...             ...  ...  ...           ...          ...
2813840      252135  242  ...             2            3
2813841      252135  243  ...             2            3
2813842      252135  244  ...             2            3
2813843      252135  245  ...             2            3
2813844      252135  246  ...             2            3

[247 rows x 29 columns]

In [ ]:
# pat=200030
sofa_merged[sofa_merged.icustay_id==pat].head(25)

     icustay_id    hr  ... rate_phenylephrine  Vaso
742      200030   0.0  ...                NaN  0.00
743      200030   1.0  ...                NaN  0.00
744      200030   2.0  ...                NaN  0.08
745      200030   3.0  ...                NaN  0.08
746      200030   4.0  ...                NaN  0.08
747      200030   5.0  ...                NaN  0.08
748      200030   6.0  ...                NaN  0.88
749      200030   7.0  ...                NaN  0.58
750      200030   8.0  ...                NaN  0.55
751      200030   9.0  ...                NaN  0.58
752      200030  10.0  ...                NaN  0.58
753      200030  11.0  ...                NaN  0.56
754      200030  12.0  ...                NaN  0.56
755      200030  13.0  ...                NaN  0.56
756      200030  14.0  ...                NaN  0.56
757      200030  15.0  ...                NaN  0.56
758      200030  16.0  ...                NaN  0.56
759      200030  17.0  ...                NaN  0.56
760      200030  18.0  ...                NaN  0.56
761      200030  19.0  ...                NaN  0.56
762      200030  20.0  ...                NaN  0.55
763      200030  21.0  ...                NaN  0.55
764      200030  22.0  ...                NaN  0.53
765      200030  23.0  ...                NaN  0.50
766      200030  24.0  ...                NaN  0.50

[25 rows x 32 columns]

In [ ]:
sofa_=sofa_merged
sofa_.head()

   icustay_id   hr  ... rate_vasopressin rate_phenylephrine
0      200001  0.0  ...              NaN                NaN
1      200001  1.0  ...              NaN                NaN
2      200001  2.0  ...              NaN                NaN
3      200001  3.0  ...              NaN                NaN
4      200001  4.0  ...              NaN                NaN

[5 rows x 31 columns]

In [ ]:
sofa_['Vaso']=sofa_['rate_norepinephrine'].add(0.1*sofa_['rate_dopamine'],fill_value=0).add(sofa_['rate_epinephrine'],fill_value=0)
sofa_['Vaso']=sofa_['Vaso'].add(0.1*sofa_['rate_dobutamine'],fill_value=0).add(10*sofa_['rate_vasopressin'],fill_value=0).fillna(0).add(
    0.09*sofa_['rate_phenylephrine'],fill_value=0)

sofa_.head()

   icustay_id   hr  ... rate_phenylephrine Vaso
0      200001  0.0  ...                NaN  0.0
1      200001  1.0  ...                NaN  0.0
2      200001  2.0  ...                NaN  0.0
3      200001  3.0  ...                NaN  0.0
4      200001  4.0  ...                NaN  0.0

[5 rows x 32 columns]

In [9]:
# sofa_.to_csv('sofa_with_vaso3.csv',index=False)
print('DONE')

DONE

In [16]:
sofa_[sofa_.Vaso!=0][['rate_vasopressin','rate_phenylephrine','rate_epinephrine',
                     'rate_norepinephrine','rate_dopamine','rate_dobutamine','Vaso']]

         rate_vasopressin  rate_phenylephrine  ...  rate_dobutamine   Vaso
98                    NaN                 0.5  ...              NaN  0.045
99                    NaN                 1.0  ...              NaN  0.090
100                   NaN                 0.5  ...              NaN  0.045
101                   NaN                 0.5  ...              NaN  0.045
102                   NaN                 0.5  ...              NaN  0.045
...                   ...                 ...  ...              ...    ...
6885728              0.02                 NaN  ...              NaN  0.200
6885729              0.02                 NaN  ...              NaN  0.200
6933421               NaN                36.0  ...              NaN  3.240
6933422               NaN                36.0  ...              NaN  3.240
7052402               NaN                 1.0  ...              NaN  0.090

[763050 rows x 7 columns]

In [ ]:
co=pd.read_csv('sepsis3_adults.csv',
               parse_dates=['intime','outtime','suspected_infection_time_poe']) #cohort + demographics
co=co.set_index('icustay_id')

admissions=pd.read_csv('admissions.csv',parse_dates=['ADMITTIME','DISCHTIME','DEATHTIME'])
admissions=admissions.set_index('icustay_id').sort_index()
co['death_time']=admissions['DEATHTIME']
print('Done')

Done

### Fluids from CV and MetaVision Csv files, (Note that these are already cleaned so the 'tev' gives total equivalent Volume and the SQL code is available under SQL folder)

In [ ]:
input_cv=pd.read_csv('./Fluids/cleaned_input_cv.csv',parse_dates=['charttime']) 
input_mv=pd.read_csv('./Fluids/input_eventsMV.csv',parse_dates=['starttime','endtime'])
input_cv=input_cv[['icustay_id','charttime','tev']]
input_mv=input_mv[['icustay_id','endtime','tev']]
input_mv['tev_mv']=input_mv['tev']
input_mv['charttime']=input_mv['endtime']
input_mv=input_mv.drop('tev',axis=1)
input_fluids=input_mv.merge(input_cv,on=['icustay_id','charttime'],how='outer')[['icustay_id','charttime','tev','tev_mv']]
input_fluids['tev'],input_fluids['tev_mv']=input_fluids['tev'].fillna(0),input_fluids['tev_mv'].fillna(0)
input_fluids['volume']=input_fluids['tev']+input_fluids['tev_mv']
input_fluids=input_fluids.drop(['tev','tev_mv'],axis=1)
input_fluids.head()

   icustay_id           charttime    volume
0      200001 2181-11-25 22:55:00    50.000
1      200001 2181-11-27 15:47:00   200.000
2      200001 2181-11-27 23:26:00   250.000
3      200010 2132-08-05 02:10:00    17.708
4      200010 2132-08-05 01:36:00  1000.000

## Helper Functions

In [ ]:
def get_pat_dfs(pat):

  pat_sofa=sofa[sofa.icustay_id==pat]
  pat_vitals=vitals[vitals.icustay_id==pat]
  # pat_labs=labs[labs.icustay_id==pat]
  pat_df=pd.concat([pat_vitals.set_index('charttime')
                              ,
                              pat_sofa.set_index('endtime')]).resample('H').last()[['HeartRate','SysBP','DiasBP',	'MeanBP','RespRate','SpO2',
                                      'liver_24hours','cardiovascular_24hours',
                                      'cns_24hours','renal_24hours','SOFA_24hours']].resample('H').last()
  
  if co.loc[pat].HOSPITAL_EXPIRE_FLAG==1:
    pat_df=pat_df.truncate(after=co.loc[pat].death_time)

  return pat_sofa,pat_vitals,pat_df #pat_labs

print('Done')

Done

### Checking if Death Time<ICU off time

In [ ]:
non_icu_deaths=0
non_icu_pats=[]
for pat in co[co.death_time.notna()].index:
  pat_sofa,pat_vitals,pat_labs,pat_df=get_pat_dfs(pat)
  if pat_df.shape[0]<1:
    continue
  if pat_df.index[-1]+pd.Timedelta('1 Hour')<co.loc[pat].death_time:
    non_icu_deaths+=1
    print('Last Vital time :',pat_df.index[-1],'Death :',co.loc[pat].death_time,'cohort out time ',co.loc[pat].outtime)
    non_icu_pats.append(pat)

In [ ]:
# lens=[]
# maxna=[]
# for (pat,_) in sofa_len_list[500:]:
#   pat_sofa=sofa[sofa.icustay_id==pat]
#   pat_vitals=vitals[vitals.icustay_id==pat]
#   pat_labs=labs[labs.icustay_id==pat]
#   temp=pd.concat([pat_vitals.set_index('charttime')
#                               ,
#                               pat_sofa.set_index('endtime')]).resample('H').last()[['HeartRate','SysBP','DiasBP',	'MeanBP','RespRate','SpO2',
#                                       'liver_24hours','cardiovascular_24hours',
#                                       'cns_24hours','renal_24hours','SOFA_24hours']]
#   na_=temp.isna().sum(axis=0).max()
#   length=temp.dropna().shape[0]
  
#   print('patient number : ',pat, 'length of the trajectory is :  ',temp.shape[0],' number of NA hours are : ', na_,' After dropping NA :',length)
#   lens.append(length)
#   maxna.append(na_)

In [ ]:
len(lens)

In [ ]:
pats=(sofa_len_list[500:])

In [ ]:
full_lens=[x[1] for x in pats]
patient_ids=[x[0] for x in pats]

In [ ]:
NaDf=pd.DataFrame([full_lens,maxna,lens,patient_ids]).T
NaDf.columns=['lengths','NA','Reduced_lens','Pat_ID']

In [ ]:
NaDf.head()

In [ ]:
NaDf['na_per']=NaDf['NA']/NaDf['lengths']

In [ ]:
NaDf.describe()

In [ ]:
NaDf[NaDf.na_per<0.2].shape

In [ ]:
# NaDf.to_csv('NA_info.csv')

NaDf=pd.read_csv('NA_info.csv')
NaDf.head()

## Settling on a Cohort
Let's  stick to NA%<0.2 and #NA<15

In [ ]:
len(set(co[co.death_time.notna()].index).intersection(NaDf[NaDf.na_per<0.2][NaDf.NA<15].Pat_ID))

### Let's do the same as above for deaths

In [ ]:
lens=[]
maxna=[]
for pat in co[co.death_time.notna()].index:
  pat_sofa=sofa[sofa.icustay_id==pat]
  pat_vitals=vitals[vitals.icustay_id==pat]
  pat_labs=labs[labs.icustay_id==pat]
  temp=pd.concat([pat_vitals.set_index('charttime')
                              ,
                              pat_sofa.set_index('endtime')]).resample('H').last()[['HeartRate','SysBP','DiasBP',	'MeanBP','RespRate','SpO2',
                                      'liver_24hours','cardiovascular_24hours',
                                      'cns_24hours','renal_24hours','SOFA_24hours']]
  temp=temp.truncate(after=co.loc[pat].death_time)
  na_=temp.isna().sum(axis=0).max()
  length=temp.dropna().shape[0]
  
  print('patient number : ',pat, 'length of the trajectory is :  ',temp.shape[0],' number of NA hours are : ', na_,' After dropping NA :',length)
  lens.append(length)
  maxna.append(na_)

In [ ]:
NaDf_deaths=pd.DataFrame([maxna,lens,list(co[co.death_time.notna()].index)]).T

In [ ]:
NaDf_deaths.columns=['NA','Reduced_lens','Pat_ID']
NaDf_deaths['lengths']=NaDf_deaths.NA+NaDf_deaths.Reduced_lens
NaDf_deaths['na_per']=NaDf_deaths.NA/NaDf_deaths.lengths

In [ ]:
NaDf_deaths[NaDf_deaths.na_per<0.2]

### Here let's consider the following patients for our analysis death

In [ ]:
len(set(NaDf_deaths[NaDf_deaths['na_per']<0.2][NaDf_deaths.NA<20][NaDf_deaths.lengths>3].Pat_ID)-set(non_icu_pats))

In [ ]:
dead_pats=list(set(NaDf_deaths[NaDf_deaths['na_per']<0.2][NaDf_deaths.NA<20][NaDf_deaths.lengths>3].Pat_ID)-set(non_icu_pats))

In [ ]:
NaDf_deaths.to_csv('Na_df_deaths.csv')

In [ ]:
pat_sofa,pat_vitals,pat_labs,pat_df=get_pat_dfs(200035)

In [ ]:
pat=200035
age,weight=co.loc[pat].age,co.loc[pat].Weight
# pat_vitals['gender']=co.loc[pat].is_male
pat_vitals.['Weight']=weight
pat_vitals['age']=age

The following csv files give information on Missing values %s and deaths

In [ ]:
NaDf_deaths=pd.read_csv('Na_df_deaths.csv')
NaDf=pd.read_csv('NA_info.csv')

In [ ]:
surv_pats=NaDf[NaDf.Reduced_lens>23][NaDf.na_per<0.2].Pat_ID.values
print(len(surv_pats))

pats=NaDf_deaths[NaDf_deaths.Reduced_lens>23][NaDf_deaths.na_per<0.2].Pat_ID.values
print(len(pats))

We also want to consider the weight so figuring out the patients who have a weight recorded

In [ ]:
dead_pats=co.loc[co.index.isin(pats)][co.Weight.notna()].index.values

In [ ]:
len(co.loc[co.index.isin(surv_pats)][co.Weight.notna()].index.values)

In [ ]:
alive_pats=co.loc[co.index.isin(surv_pats)][co.Weight.notna()].index.values

In [ ]:
NaDf_deaths[NaDf_deaths.Reduced_lens>23].Reduced_lens.describe()

In [ ]:
NaDf.sort_values(by='Reduced_lens')

In [ ]:
NaDf[NaDf.Reduced_lens!=0].sort_values(by='Reduced_lens')

In [ ]:
all_pats=set(NaDf[NaDf.na_per<0.2][NaDf.NA<15].Pat_ID).union(set(dead_pats))

In [ ]:
dead_pats=list(set(co[co.HOSPITAL_EXPIRE_FLAG==1].index).intersection(set(all_pats)))

In [ ]:
i=0
bad_list=[]
for pat in list(all_pats):
  pat_sofa,pat_vitals,pat_labs,pat_df=get_pat_dfs(pat)
  # pat_df=pat_df.truncate(before=co.loc[pat].suspected_infection_time_poe)
  if pat_df.shape[0]<4:
    i+=1
    print(pat, i)
    bad_list.append(pat)

In [ ]:
pat_sofa,pat_vitals,pat_labs,pat_df=get_pat_dfs(262158)

In [ ]:
co.columns

# Dataset class

## Re Checking Data

In [ ]:
patient_list=list(np.load('new_pats.npy'))

In [ ]:
len(set(icustays).intersection(set(patient_list)))

9612

In [ ]:
len(patient_list)

19511

In [ ]:
co.loc[patient_list[8]]

Unnamed: 0                                         38207
hadm_id                                           162599
excluded                                               0
intime                               2180-11-18 23:51:36
outtime                              2180-11-20 18:46:11
dbsource                                      metavision
suspected_infection_time_poe         2180-11-18 20:20:00
suspected_infection_time_poe_days                      0
specimen_poe                               BLOOD CULTURE
positiveculture_poe                                    1
antibiotic_time_poe                  2180-11-19 00:00:00
blood_culture_time                   2180-11-18 20:20:00
blood_culture_positive                                 1
age                                                   53
gender                                                 F
is_male                                                0
ethnicity                                 ASIAN - KOREAN
race_white                                             0
race_black                                             0
race_hispanic                                          0
race_other                                             1
Height                                               165
Weight                                              99.3
bmi                                              36.4738
first_service                                        MED
HOSPITAL_EXPIRE_FLAG                                   0
THIRTYDAY_EXPIRE_FLAG                                  1
icu_los                                           1.7879
hosp_los                                               4
sepsis_angus                                           1
sepsis_martin                                          1
sepsis_explicit                                        0
septic_shock_explicit                                  0
severe_sepsis_explicit                                 0
sepsis_nqf                                             0
sepsis_cdc                                             1
sepsis_cdc_simple                                      1
vent                                                   0
sofa                                                   7
lods                                                   6
sirs                                                   4
qsofa                                                  2
qsofa_sysbp_score                                      1
qsofa_gcs_score                                      NaN
qsofa_resprate_score                                   1
composite_outcome                                      0
blood culture                                       True
suspicion_poe                                       True
abx_poe                                             True
sepsis-3                                               1
sofa>=2                                                1
death_time                                           NaT
Name: 262194, dtype: object

In [ ]:
non_icu_deaths=0
non_icu_pats=[]
for pat in patient_list:
  pat_sofa,pat_vitals,pat_df=get_pat_dfs(pat)
  if pat_df.shape[0]<1:
    continue
  if pat_df.index[-1]+pd.Timedelta('1 Hour')<co.loc[pat].death_time:
    non_icu_deaths+=1
    print('Last Vital time :',pat_df.index[-1],'Death :',co.loc[pat].death_time,'cohort out time ',co.loc[pat].outtime)
    non_icu_pats.append(pat)

Last Vital time : 2148-12-28 16:00:00 Death : 2148-12-29 00:15:00 cohort out time  2148-12-28 16:16:49
Last Vital time : 2115-10-26 00:00:00 Death : 2115-11-12 18:10:00 cohort out time  2115-10-26 00:25:22
Last Vital time : 2158-08-01 16:00:00 Death : 2158-08-03 19:22:00 cohort out time  2158-08-01 16:58:29
Last Vital time : 2144-09-25 12:00:00 Death : 2144-10-09 06:50:00 cohort out time  2144-09-25 12:46:34
Last Vital time : 2108-04-17 01:00:00 Death : 2108-05-02 05:00:00 cohort out time  2108-04-17 01:51:03
Last Vital time : 2152-12-05 15:00:00 Death : 2153-01-02 18:10:00 cohort out time  2152-12-05 15:15:02
Last Vital time : 2136-02-23 22:00:00 Death : 2136-02-27 10:10:00 cohort out time  2136-02-23 22:07:14
Last Vital time : 2112-02-05 17:00:00 Death : 2112-02-09 14:04:00 cohort out time  2112-02-05 17:25:59
Last Vital time : 2145-09-30 18:00:00 Death : 2145-12-07 10:35:00 cohort out time  2145-09-30 18:18:11
Last Vital time : 2125-04-25 18:00:00 Death : 2125-04-28 08:41:00 cohort out time  2125-04-25 18:27:41
Last Vital time : 2143-07-09 23:00:00 Death : 2143-08-04 00:00:00 cohort out time  2143-07-09 23:58:45
Last Vital time : 2104-03-26 14:00:00 Death : 2104-05-01 01:58:00 cohort out time  2104-03-26 14:35:09
Last Vital time : 2165-06-12 18:00:00 Death : 2165-07-06 20:27:00 cohort out time  2165-06-12 18:12:40
Last Vital time : 2167-01-03 01:00:00 Death : 2167-04-15 18:10:00 cohort out time  2167-01-03 01:18:25
Last Vital time : 2130-10-17 01:00:00 Death : 2130-11-30 14:00:00 cohort out time  2130-10-17 01:24:34
Last Vital time : 2114-09-20 14:00:00 Death : 2114-10-13 22:27:00 cohort out time  2114-09-20 14:58:25
Last Vital time : 2109-10-26 20:00:00 Death : 2109-10-31 20:00:00 cohort out time  2109-10-26 19:53:26
Last Vital time : 2156-10-10 18:00:00 Death : 2156-10-23 04:00:00 cohort out time  2156-10-10 18:02:07
Last Vital time : 2151-08-28 21:00:00 Death : 2151-09-04 15:59:00 cohort out time  2151-08-28 21:47:32
Last Vital time : 2198-05-25 19:00:00 Death : 2198-05-29 08:10:00 cohort out time  2198-05-25 19:04:12
Last Vital time : 2119-09-07 17:00:00 Death : 2119-09-08 19:30:00 cohort out time  2119-09-07 17:45:18
Last Vital time : 2171-09-29 10:00:00 Death : 2171-10-04 19:30:00 cohort out time  2171-09-29 10:59:58
Last Vital time : 2112-09-12 18:00:00 Death : 2112-09-22 01:43:00 cohort out time  2112-09-12 18:16:02
Last Vital time : 2123-12-31 22:00:00 Death : 2124-01-03 04:05:00 cohort out time  2123-12-31 22:10:28
Last Vital time : 2193-01-01 18:00:00 Death : 2193-02-20 17:17:00 cohort out time  2193-01-01 18:52:44
Last Vital time : 2159-02-16 21:00:00 Death : 2159-02-25 19:05:00 cohort out time  2159-02-16 21:49:26
Last Vital time : 2187-07-27 22:00:00 Death : 2187-08-13 12:47:00 cohort out time  2187-07-27 22:58:51
Last Vital time : 2110-11-11 17:00:00 Death : 2111-01-07 18:06:00 cohort out time  2110-11-11 17:34:48
Last Vital time : 2113-11-15 18:00:00 Death : 2113-11-19 12:50:00 cohort out time  2113-11-15 18:21:57
Last Vital time : 2192-11-03 22:00:00 Death : 2192-11-10 11:56:00 cohort out time  2192-11-03 22:02:53
Last Vital time : 2183-08-05 18:00:00 Death : 2183-08-11 11:45:00 cohort out time  2183-08-05 18:37:48
Last Vital time : 2128-08-04 14:00:00 Death : 2128-08-24 17:35:00 cohort out time  2128-08-04 14:14:53
Last Vital time : 2144-05-17 18:00:00 Death : 2144-05-23 12:00:00 cohort out time  2144-05-17 18:18:16
Last Vital time : 2135-06-26 16:00:00 Death : 2135-07-07 06:51:00 cohort out time  2135-06-26 16:22:00
Last Vital time : 2106-05-01 11:00:00 Death : 2106-05-01 22:15:00 cohort out time  2106-05-01 11:25:46
Last Vital time : 2204-08-10 19:00:00 Death : 2204-08-16 13:56:00 cohort out time  2204-08-10 19:47:19
Last Vital time : 2136-09-14 18:00:00 Death : 2136-09-21 15:58:00 cohort out time  2136-09-14 18:58:52
Last Vital time : 2165-03-29 21:00:00 Death : 2165-04-02 22:01:00 cohort out time  2165-03-29 21:34:31
Last Vital time : 2143-04-04 13:00:00 Death : 2143-04-11 08:00:00 cohort out time  2143-04-04 13:06:21
Last Vital time : 2168-10-23 19:00:00 Death : 2168-11-06 17:50:00 cohort out time  2168-10-23 19:00:29
Last Vital time : 2194-01-06 12:00:00 Death : 2194-01-18 07:40:00 cohort out time  2194-01-06 12:26:52
Last Vital time : 2138-06-28 12:00:00 Death : 2138-07-05 04:34:00 cohort out time  2138-06-28 12:51:51
Last Vital time : 2185-01-05 13:00:00 Death : 2185-02-05 03:25:00 cohort out time  2185-01-05 13:42:24
Last Vital time : 2104-01-16 17:00:00 Death : 2104-01-22 12:00:00 cohort out time  2104-01-16 17:26:54
Last Vital time : 2163-03-03 21:00:00 Death : 2163-03-14 17:05:00 cohort out time  2163-03-03 21:57:24
Last Vital time : 2101-03-12 14:00:00 Death : 2101-03-18 07:00:00 cohort out time  2101-03-12 14:46:36
Last Vital time : 2164-01-23 17:00:00 Death : 2164-02-08 12:00:00 cohort out time  2164-01-23 17:36:10
Last Vital time : 2165-04-29 10:00:00 Death : 2165-04-30 08:02:00 cohort out time  2165-04-29 10:41:49
Last Vital time : 2106-05-24 21:00:00 Death : 2106-06-09 00:32:00 cohort out time  2106-05-24 21:32:43
Last Vital time : 2136-02-07 16:00:00 Death : 2136-02-19 21:02:00 cohort out time  2136-02-07 16:02:32
Last Vital time : 2174-03-30 15:00:00 Death : 2174-04-01 17:00:00 cohort out time  2174-03-30 15:18:00
Last Vital time : 2132-03-12 18:00:00 Death : 2132-03-13 08:40:00 cohort out time  2132-03-12 18:17:23
Last Vital time : 2107-09-21 01:00:00 Death : 2107-09-29 00:45:00 cohort out time  2107-09-21 01:19:24
Last Vital time : 2175-12-04 18:00:00 Death : 2176-01-30 15:30:00 cohort out time  2175-12-04 18:10:59
Last Vital time : 2109-06-28 18:00:00 Death : 2109-07-07 07:00:00 cohort out time  2109-06-28 18:51:21
Last Vital time : 2155-11-16 17:00:00 Death : 2155-11-27 12:15:00 cohort out time  2155-11-16 17:04:06
Last Vital time : 2159-07-09 18:00:00 Death : 2159-07-14 17:50:00 cohort out time  2159-07-09 18:49:45
Last Vital time : 2108-04-10 17:00:00 Death : 2108-04-19 15:30:00 cohort out time  2108-04-10 17:11:24
Last Vital time : 2143-09-23 17:00:00 Death : 2143-09-27 08:30:00 cohort out time  2143-09-23 17:58:47
Last Vital time : 2142-07-01 09:00:00 Death : 2142-07-13 21:30:00 cohort out time  2142-07-01 09:51:54
Last Vital time : 2199-04-13 16:00:00 Death : 2199-04-16 05:55:00 cohort out time  2199-04-13 16:44:37
Last Vital time : 2142-06-07 16:00:00 Death : 2142-06-21 14:38:00 cohort out time  2142-06-07 16:57:32
Last Vital time : 2196-02-21 17:00:00 Death : 2196-03-09 20:52:00 cohort out time  2196-02-21 17:54:15
Last Vital time : 2121-12-31 15:00:00 Death : 2122-01-06 02:25:00 cohort out time  2121-12-31 15:12:02
Last Vital time : 2139-09-05 19:00:00 Death : 2139-09-24 21:32:00 cohort out time  2139-09-05 19:13:39
Last Vital time : 2139-05-07 01:00:00 Death : 2139-05-07 07:45:00 cohort out time  2139-05-07 01:14:24
Last Vital time : 2182-05-01 10:00:00 Death : 2182-05-04 19:55:00 cohort out time  2182-05-01 10:40:37
Last Vital time : 2163-08-03 18:00:00 Death : 2163-08-10 12:30:00 cohort out time  2163-08-03 18:24:21
Last Vital time : 2196-09-21 18:00:00 Death : 2196-09-24 12:08:00 cohort out time  2196-09-21 18:26:36
Last Vital time : 2111-01-15 21:00:00 Death : 2111-01-18 12:30:00 cohort out time  2111-01-15 21:00:59
Last Vital time : 2178-04-30 22:00:00 Death : 2178-05-05 12:00:00 cohort out time  2178-04-30 22:28:26
Last Vital time : 2124-02-05 21:00:00 Death : 2124-02-07 12:00:00 cohort out time  2124-02-05 21:58:43
Last Vital time : 2183-11-29 20:00:00 Death : 2183-12-11 02:40:00 cohort out time  2183-11-29 20:29:08
Last Vital time : 2147-09-05 20:00:00 Death : 2147-09-06 02:45:00 cohort out time  2147-09-05 20:42:10
Last Vital time : 2106-03-26 18:00:00 Death : 2106-04-02 19:15:00 cohort out time  2106-03-26 18:59:11
Last Vital time : 2149-08-19 02:00:00 Death : 2149-09-13 03:33:00 cohort out time  2149-08-19 02:35:14
Last Vital time : 2168-11-04 17:00:00 Death : 2168-11-06 15:00:00 cohort out time  2168-11-04 17:39:29
Last Vital time : 2184-06-07 16:00:00 Death : 2184-06-10 16:01:00 cohort out time  2184-06-07 16:26:32
Last Vital time : 2153-07-27 12:00:00 Death : 2153-08-08 12:00:00 cohort out time  2153-07-27 12:40:38
Last Vital time : 2139-01-17 21:00:00 Death : 2139-01-30 19:13:00 cohort out time  2139-01-17 21:29:20
Last Vital time : 2148-04-06 21:00:00 Death : 2148-04-07 16:20:00 cohort out time  2148-04-06 21:36:53
Last Vital time : 2132-08-07 20:00:00 Death : 2132-08-11 14:15:00 cohort out time  2132-08-07 20:58:47
Last Vital time : 2117-01-12 18:00:00 Death : 2117-01-19 13:40:00 cohort out time  2117-01-12 18:58:10
Last Vital time : 2160-07-03 14:00:00 Death : 2160-07-04 22:50:00 cohort out time  2160-07-03 14:38:47
Last Vital time : 2118-10-04 17:00:00 Death : 2118-10-08 00:11:00 cohort out time  2118-10-04 17:46:06
Last Vital time : 2109-02-08 22:00:00 Death : 2109-02-10 22:42:00 cohort out time  2109-02-08 22:11:17
Last Vital time : 2131-12-03 15:00:00 Death : 2131-12-11 21:30:00 cohort out time  2131-12-03 15:29:59
Last Vital time : 2159-05-18 13:00:00 Death : 2159-05-20 20:00:00 cohort out time  2159-05-18 13:35:13
Last Vital time : 2168-06-13 20:00:00 Death : 2168-06-15 20:20:00 cohort out time  2168-06-13 20:30:04
Last Vital time : 2110-07-09 16:00:00 Death : 2110-07-21 14:10:00 cohort out time  2110-07-09 16:33:42
Last Vital time : 2135-09-07 23:00:00 Death : 2135-09-27 04:00:00 cohort out time  2135-09-07 23:23:08
Last Vital time : 2158-10-06 22:00:00 Death : 2158-10-08 20:35:00 cohort out time  2158-10-06 22:13:20
Last Vital time : 2149-10-29 23:00:00 Death : 2149-11-19 01:30:00 cohort out time  2149-10-29 23:49:20
Last Vital time : 2187-09-06 18:00:00 Death : 2187-09-16 11:37:00 cohort out time  2187-09-06 18:27:45
Last Vital time : 2140-09-14 17:00:00 Death : 2140-09-21 01:45:00 cohort out time  2140-09-14 17:53:14
Last Vital time : 2147-10-25 16:00:00 Death : 2147-10-29 12:20:00 cohort out time  2147-10-25 16:42:56
Last Vital time : 2123-03-07 22:00:00 Death : 2123-03-10 17:20:00 cohort out time  2123-03-07 22:50:32
Last Vital time : 2126-10-17 17:00:00 Death : 2126-11-09 03:59:00 cohort out time  2126-10-17 17:47:55
Last Vital time : 2173-04-15 18:00:00 Death : 2173-04-16 20:41:00 cohort out time  2173-04-15 18:34:52
Last Vital time : 2168-04-08 15:00:00 Death : 2168-04-25 19:05:00 cohort out time  2168-04-08 15:57:02
Last Vital time : 2132-07-01 22:00:00 Death : 2132-07-05 01:00:00 cohort out time  2132-07-01 22:40:03
Last Vital time : 2168-01-06 19:00:00 Death : 2168-01-13 13:15:00 cohort out time  2168-01-06 19:37:39
Last Vital time : 2175-11-28 21:00:00 Death : 2176-01-30 15:30:00 cohort out time  2175-11-28 21:28:16
Last Vital time : 2103-01-23 18:00:00 Death : 2103-01-29 04:30:00 cohort out time  2103-01-23 18:08:58
Last Vital time : 2188-12-26 00:00:00 Death : 2189-01-09 15:59:00 cohort out time  2188-12-26 00:31:23
Last Vital time : 2201-08-12 18:00:00 Death : 2201-08-21 13:30:00 cohort out time  2201-08-12 18:48:05
Last Vital time : 2139-08-17 21:00:00 Death : 2139-09-24 21:32:00 cohort out time  2139-08-17 21:52:21
Last Vital time : 2105-03-06 20:00:00 Death : 2105-03-07 02:45:00 cohort out time  2105-03-06 20:14:48
Last Vital time : 2163-03-06 21:00:00 Death : 2163-03-22 01:42:00 cohort out time  2163-03-06 21:21:10
Last Vital time : 2168-01-09 06:00:00 Death : 2168-01-09 11:44:00 cohort out time  2168-01-09 06:37:18
Last Vital time : 2124-10-06 21:00:00 Death : 2124-10-10 19:55:00 cohort out time  2124-10-06 21:34:13
Last Vital time : 2132-03-15 19:00:00 Death : 2132-04-02 19:10:00 cohort out time  2132-03-15 19:32:04
Last Vital time : 2189-12-10 15:00:00 Death : 2189-12-10 16:40:00 cohort out time  2189-12-10 15:35:17
Last Vital time : 2187-08-28 16:00:00 Death : 2187-09-02 13:19:00 cohort out time  2187-08-28 16:39:00
Last Vital time : 2196-04-01 17:00:00 Death : 2196-04-20 14:00:00 cohort out time  2196-04-01 17:17:55
Last Vital time : 2107-11-21 17:00:00 Death : 2107-11-29 17:31:00 cohort out time  2107-11-21 17:26:19
Last Vital time : 2144-08-29 22:00:00 Death : 2144-09-03 18:55:00 cohort out time  2144-08-29 22:58:02
Last Vital time : 2175-12-17 21:00:00 Death : 2175-12-23 10:45:00 cohort out time  2175-12-17 21:38:11
Last Vital time : 2122-11-10 18:00:00 Death : 2122-11-13 12:01:00 cohort out time  2122-11-10 18:23:58
Last Vital time : 2146-08-20 12:00:00 Death : 2146-08-25 03:49:00 cohort out time  2146-08-20 12:44:43
Last Vital time : 2113-02-15 18:00:00 Death : 2113-03-26 14:05:00 cohort out time  2113-02-15 18:36:47
Last Vital time : 2102-12-03 21:00:00 Death : 2102-12-08 10:55:00 cohort out time  2102-12-03 21:05:34
Last Vital time : 2104-08-02 20:00:00 Death : 2104-08-25 18:08:00 cohort out time  2104-08-02 20:40:06
Last Vital time : 2154-12-19 18:00:00 Death : 2154-12-24 14:31:00 cohort out time  2154-12-19 18:21:10
Last Vital time : 2111-09-05 16:00:00 Death : 2111-09-07 21:01:00 cohort out time  2111-09-05 16:02:46
Last Vital time : 2142-11-29 16:00:00 Death : 2142-12-01 02:30:00 cohort out time  2142-11-29 16:58:45
Last Vital time : 2117-02-12 22:00:00 Death : 2117-02-14 05:45:00 cohort out time  2117-02-12 22:44:30
Last Vital time : 2177-01-29 11:00:00 Death : 2177-01-29 20:45:00 cohort out time  2177-01-29 11:55:05
Last Vital time : 2170-02-16 10:00:00 Death : 2170-05-18 03:00:00 cohort out time  2170-02-16 10:09:48
Last Vital time : 2162-09-02 14:00:00 Death : 2162-10-29 12:00:00 cohort out time  2162-09-02 14:34:42
Last Vital time : 2187-09-15 14:00:00 Death : 2187-11-01 02:25:00 cohort out time  2187-09-15 14:08:32
Last Vital time : 2164-02-04 19:00:00 Death : 2164-02-12 08:53:00 cohort out time  2164-02-04 19:00:25
Last Vital time : 2113-02-07 09:00:00 Death : 2113-02-24 04:12:00 cohort out time  2113-02-07 09:37:59
Last Vital time : 2181-09-01 20:00:00 Death : 2181-09-04 09:21:00 cohort out time  2181-09-01 20:48:28
Last Vital time : 2112-11-05 18:00:00 Death : 2112-11-08 18:19:00 cohort out time  2112-11-05 18:11:48
Last Vital time : 2190-06-13 17:00:00 Death : 2190-07-23 00:00:00 cohort out time  2190-06-13 17:30:05
Last Vital time : 2181-01-13 16:00:00 Death : 2181-01-18 00:01:00 cohort out time  2181-01-13 16:51:11
Last Vital time : 2146-07-09 16:00:00 Death : 2146-07-25 12:00:00 cohort out time  2146-07-09 16:42:31
Last Vital time : 2173-11-26 23:00:00 Death : 2173-12-15 18:10:00 cohort out time  2173-11-26 23:46:29
Last Vital time : 2116-06-16 17:00:00 Death : 2116-06-20 11:00:00 cohort out time  2116-06-16 17:53:26
Last Vital time : 2116-06-03 18:00:00 Death : 2116-06-17 00:01:00 cohort out time  2116-06-03 18:26:36
Last Vital time : 2150-11-14 18:00:00 Death : 2150-11-15 00:00:00 cohort out time  2150-11-14 18:14:12
Last Vital time : 2142-10-02 08:00:00 Death : 2142-10-06 04:41:00 cohort out time  2142-10-02 08:55:31
Last Vital time : 2186-05-26 15:00:00 Death : 2186-05-27 02:35:00 cohort out time  2186-05-26 15:41:02
Last Vital time : 2170-10-20 14:00:00 Death : 2170-11-12 10:00:00 cohort out time  2170-10-20 14:43:31
Last Vital time : 2138-06-19 21:00:00 Death : 2138-07-05 04:34:00 cohort out time  2138-06-19 21:30:06
Last Vital time : 2148-06-04 18:00:00 Death : 2148-06-08 01:55:00 cohort out time  2148-06-04 18:28:48
Last Vital time : 2156-10-27 09:00:00 Death : 2156-12-13 19:28:00 cohort out time  2156-10-27 09:16:10
Last Vital time : 2148-04-23 00:00:00 Death : 2148-05-24 18:00:00 cohort out time  2148-04-23 00:11:20
Last Vital time : 2181-11-06 18:00:00 Death : 2181-11-26 17:15:00 cohort out time  2181-11-06 18:31:18
Last Vital time : 2102-04-07 20:00:00 Death : 2102-04-14 13:08:00 cohort out time  2102-04-07 20:24:28
Last Vital time : 2154-04-05 16:00:00 Death : 2154-04-08 04:59:00 cohort out time  2154-04-05 16:36:44
Last Vital time : 2131-02-12 02:00:00 Death : 2131-02-12 14:45:00 cohort out time  2131-02-12 02:42:35
Last Vital time : 2126-05-26 22:00:00 Death : 2126-06-08 11:07:00 cohort out time  2126-05-26 22:16:24
Last Vital time : 2112-09-18 14:00:00 Death : 2112-09-21 01:57:00 cohort out time  2112-09-18 14:02:24
Last Vital time : 2103-11-01 15:00:00 Death : 2103-11-09 14:00:00 cohort out time  2103-11-01 15:13:48
Last Vital time : 2120-08-05 17:00:00 Death : 2120-08-15 10:40:00 cohort out time  2120-08-05 17:15:35
Last Vital time : 2100-10-04 16:00:00 Death : 2100-10-05 06:50:00 cohort out time  2100-10-04 16:01:26
Last Vital time : 2176-08-23 18:00:00 Death : 2176-09-06 01:50:00 cohort out time  2176-08-23 18:47:59
Last Vital time : 2127-02-21 16:00:00 Death : 2127-02-23 20:12:00 cohort out time  2127-02-21 16:54:46
Last Vital time : 2114-02-24 10:00:00 Death : 2114-03-21 15:30:00 cohort out time  2114-02-24 10:27:50
Last Vital time : 2125-08-30 12:00:00 Death : 2125-11-19 14:14:00 cohort out time  2125-08-30 12:45:01
Last Vital time : 2169-12-30 14:00:00 Death : 2170-01-08 10:50:00 cohort out time  2169-12-30 14:37:39
Last Vital time : 2158-01-09 17:00:00 Death : 2158-01-12 12:00:00 cohort out time  2158-01-09 17:15:41
Last Vital time : 2189-10-02 19:00:00 Death : 2189-10-03 12:50:00 cohort out time  2189-10-02 19:10:50
Last Vital time : 2112-11-20 12:00:00 Death : 2112-11-23 04:10:00 cohort out time  2112-11-20 12:07:21
Last Vital time : 2177-12-27 17:00:00 Death : 2177-12-29 13:31:00 cohort out time  2177-12-27 17:27:27
Last Vital time : 2193-02-08 17:00:00 Death : 2193-02-18 09:30:00 cohort out time  2193-02-08 17:53:10
Last Vital time : 2190-05-22 17:00:00 Death : 2190-05-24 05:23:00 cohort out time  2190-05-22 17:06:47
Last Vital time : 2126-12-11 18:00:00 Death : 2126-12-12 09:00:00 cohort out time  2126-12-11 18:18:05
Last Vital time : 2188-11-26 11:00:00 Death : 2189-01-11 20:19:00 cohort out time  2188-11-26 11:26:04
Last Vital time : 2179-09-10 19:00:00 Death : 2179-09-14 02:50:00 cohort out time  2179-09-10 19:59:09
Last Vital time : 2165-04-29 13:00:00 Death : 2165-07-06 20:27:00 cohort out time  2165-04-29 13:46:56
Last Vital time : 2156-04-26 19:00:00 Death : 2156-05-05 02:04:00 cohort out time  2156-04-26 19:18:27
Last Vital time : 2146-01-04 17:00:00 Death : 2146-01-18 15:40:00 cohort out time  2146-01-04 17:11:42
Last Vital time : 2159-06-14 16:00:00 Death : 2159-06-14 23:13:00 cohort out time  2159-06-14 16:31:30
Last Vital time : 2172-02-24 18:00:00 Death : 2172-03-02 08:00:00 cohort out time  2172-02-24 18:40:54
Last Vital time : 2156-07-02 16:00:00 Death : 2156-08-14 00:00:00 cohort out time  2156-07-02 16:51:04
Last Vital time : 2150-12-14 17:00:00 Death : 2151-02-17 12:00:00 cohort out time  2150-12-14 17:50:36
Last Vital time : 2165-04-11 18:00:00 Death : 2165-07-06 20:27:00 cohort out time  2165-04-11 18:14:56
Last Vital time : 2140-09-27 16:00:00 Death : 2140-09-30 03:40:00 cohort out time  2140-09-27 16:32:30
Last Vital time : 2180-03-19 21:00:00 Death : 2180-03-20 18:00:00 cohort out time  2180-03-19 21:54:00
Last Vital time : 2186-06-21 07:00:00 Death : 2186-06-21 16:00:00 cohort out time  2186-06-21 07:20:41
Last Vital time : 2142-05-24 15:00:00 Death : 2142-05-25 09:30:00 cohort out time  2142-05-24 15:22:19
Last Vital time : 2121-12-06 23:00:00 Death : 2121-12-24 19:54:00 cohort out time  2121-12-06 23:07:34
Last Vital time : 2148-04-11 16:00:00 Death : 2148-04-12 06:35:00 cohort out time  2148-04-11 16:54:21
Last Vital time : 2103-09-13 17:00:00 Death : 2103-10-08 09:30:00 cohort out time  2103-09-13 17:11:13
Last Vital time : 2106-06-04 14:00:00 Death : 2106-06-09 00:32:00 cohort out time  2106-06-04 14:44:38
Last Vital time : 2178-10-26 18:00:00 Death : 2178-11-14 12:00:00 cohort out time  2178-10-26 18:17:47
Last Vital time : 2108-07-16 05:00:00 Death : 2108-07-17 18:25:00 cohort out time  2108-07-16 05:17:14
Last Vital time : 2126-11-04 18:00:00 Death : 2126-11-09 03:59:00 cohort out time  2126-11-04 18:04:57
Last Vital time : 2188-10-17 12:00:00 Death : 2188-11-07 10:30:00 cohort out time  2188-10-17 12:32:10
Last Vital time : 2130-02-09 22:00:00 Death : 2130-02-11 18:25:00 cohort out time  2130-02-09 22:37:41
Last Vital time : 2175-12-21 16:00:00 Death : 2176-01-30 15:30:00 cohort out time  2175-12-21 16:37:49

In [ ]:
RL_Pat_list=np.array(list(set(patient_list)-set(non_icu_pats)))

In [ ]:
RL_Pat_list=list(np.load('RL_Pat_list.npy'))

In [ ]:
non_icu_deaths=0
non_icu_pats=[]
for pat in list(RL_Pat_list):
  pat_sofa,pat_vitals,pat_df=get_pat_dfs(pat)
  if pat_df.shape[0]<1:
    continue
  if pat_df.index[-1]+pd.Timedelta('1 Hour')<co.loc[pat].death_time:
    non_icu_deaths+=1
    print('Last Vital time :',pat_df.index[-1],'Death :',co.loc[pat].death_time,'cohort out time ',co.loc[pat].outtime)
    non_icu_pats.append(pat)

In [ ]:
dead_pats=list(set(co[co.HOSPITAL_EXPIRE_FLAG==1].index).intersection(set(RL_Pat_list)))

In [ ]:
len(dead_pats)

1830

In [ ]:
dead_pats2=list(set(co[co.HOSPITAL_EXPIRE_FLAG==1].index).intersection(set(patient_list)))
len(dead_pats2)

2754

In [ ]:
dead_pats3=list(set(co[co.HOSPITAL_EXPIRE_FLAG==1].index).intersection(set(icustays)))
len(dead_pats3)

1424

In [ ]:
len(icustays)

17083