<a href="https://colab.research.google.com/github/thxsxth/RLMimic/blob/master/Sepsis3_Cohort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
cd 'drive/My Drive/sepsis3-cohort'

/content/drive/My Drive/sepsis3-cohort

In [0]:
import numpy as np
import pandas as pd

### The following 'sepsis3-cohort.csv' file was generated by  GCP Big Query and modification of code https://github.com/alistairewj/sepsis3-mimic

We will manually changing the suspicion of infection column from, 'sus_poe_table.csv' which as the the pivoted values. Big Query suspected_infection_time doesn't make sense with respect to the the analysis of the paper/github

In [0]:
date_cols = ['intime', 'outtime','suspected_infection_time_poe']
df=pd.read_csv('sepsis3-cohort.csv',parse_dates=date_cols)

In [30]:
df.head(5)

   icustay_id  hadm_id  ...  qsofa_gcs_score qsofa_resprate_score
0      200001   152234  ...              NaN                  1.0
1      200003   163557  ...              0.0                  1.0
2      200006   189514  ...              0.0                  1.0
3      200007   129310  ...              0.0                  1.0
4      200009   129607  ...              0.0                  1.0

[5 rows x 45 columns]

In [0]:
sus=pd.read_csv('sus_poe_table.csv',parse_dates=['suspected_infection_time'])

In [14]:
sus['suspected_infection_time'].describe()

count                 1247140
unique                 185457
top       2147-06-28 12:00:00
freq                      384
first     2100-06-07 18:30:00
last      2210-08-22 00:00:00
Name: suspected_infection_time, dtype: object

In [0]:
# a=sus.groupby(['icustay_id'])['suspected_infection_time'].min()

In [0]:
df['suspected_infection_time_poe']=sus.groupby(['icustay_id'])['suspected_infection_time'].min().values

In [95]:
df.head()

   icustay_id  hadm_id  ...  qsofa_gcs_score qsofa_resprate_score
0      200001   152234  ...              NaN                  1.0
1      200003   163557  ...              0.0                  1.0
2      200006   189514  ...              0.0                  1.0
3      200007   129310  ...              0.0                  1.0
4      200009   129607  ...              0.0                  1.0

[5 rows x 45 columns]

##### Let's verify the groupby method worked as expected

In [0]:
sus_dict={}
for id in sus[sus['suspected_infection_time'].notnull()]['icustay_id'].unique():
     temp=sus[sus['icustay_id']==id]
     sus_dict[id]=temp['suspected_infection_time'].min()

In [29]:
(set(df['suspected_infection_time_poe'])-(set(sus_dict.values())))

{NaT}

In [32]:
set(sus_dict.values())-set(df['suspected_infection_time_poe'])

set()

##### Worked as expected so Moving on

In [0]:
# df['suspected_infection_time_poe_days']=pd.Timedelta(pd.offsets.Day(df['suspected_infection_time_poe'].values-df['intime'].values))
# df.assign(suspected_infection_time_poe_days=lambda x:pd.Timedelta(pd.offsets.Day(x['suspected_infection_time_poe']-x['intime'])))

In [0]:
# pd.to_timedelta(df['suspected_infection_time_poe']-df['intime'])

In [0]:
# df.head(20)

One last comparison
Below cell would compare suspected_infection_times in BQ's already generated table to ours and it matches

In [0]:
df_bq=pd.read_csv('Sepsis3_bq.csv',parse_dates=['suspected_infection_time_poe'])
temp_df=df_bq[df_bq['suspected_infection_time_poe'].notna()][['icustay_id','suspected_infection_time_poe']]
print(df[df_bq['suspected_infection_time_poe'].notna()][['icustay_id','suspected_infection_time_poe']].head(50))
print(temp_df.head(50))

In [0]:
temp_df=df_bq[df_bq['suspected_infection_time_poe'].notna()][['icustay_id','suspected_infection_time_poe']]

In [0]:
# pat1=pd.read_csv('200001icustay.csv')

In [0]:
## pat1=pd.read_csv('200001icustay.csv')
# df[df['icustay_id'].isin(pat1.icustay_id)]

In [0]:
#  len(pat1.icustay_id.values)

### Working on the Cohort NO EXCLUSIONS

In [28]:
df.count()

icustay_id                           61532
hadm_id                              61532
excluded                             61532
intime                               61532
outtime                              61522
dbsource                             61532
suspected_infection_time_poe         41057
suspected_infection_time_poe_days     9754
specimen_poe                          9754
positiveculture_poe                   9754
antibiotic_time_poe                  40972
blood_culture_time                   46140
blood_culture_positive               61532
age                                  61532
gender                               61532
is_male                              61532
ethnicity                            61532
race_white                           61532
race_black                           61532
race_hispanic                        61532
race_other                           61532
Height                               35040
Weight                               47400
bmi                                  33218
first_service                        61512
HOSPITAL_EXPIRE_FLAG                 61532
THIRTYDAY_EXPIRE_FLAG                61532
icu_los                              61522
hosp_los                             61532
sepsis_angus                         61532
sepsis_martin                        61532
sepsis_explicit                      61532
septic_shock_explicit                61532
severe_sepsis_explicit               61532
sepsis_nqf                           61532
sepsis_cdc                           61532
sepsis_cdc_simple                    61532
vent                                 61532
sofa                                 61532
lods                                 61532
sirs                                 61532
qsofa                                61532
qsofa_sysbp_score                    52255
qsofa_gcs_score                      28938
qsofa_resprate_score                 52229
composite_outcome                    61532
blood culture                        61532
suspicion_poe                        61532
abx_poe                              61532
sepsis-3                             61532
sofa>=2                              61532
dtype: int64

In [0]:
from collections import OrderedDict
df['composite_outcome'] = ( (df['HOSPITAL_EXPIRE_FLAG']==1) | (df['icu_los']>=3) ).astype(int)

labels = OrderedDict([['suspicion_poe', 'BC + ABX (Prescribed)']])

# add some other useful variables
df['blood culture'] = (~df['blood_culture_time'].isnull())
df['suspicion_poe'] = (~df['suspected_infection_time_poe'].isnull())

df['abx_poe'] = (~df['antibiotic_time_poe'].isnull())

df['sepsis-3'] = ((df['suspicion_poe']==1) & (df['sofa']>=2)).astype(int)
df['sofa>=2'] = (df['sofa']>=2).astype(int)

In [0]:
for c in ['intime','outtime',
          'suspected_infection_time_mv','suspected_infection_time',
          'suspected_infection_time_poe', 'blood_culture_time']:
    if c in df.columns:
        if df[c].dtype == 'object':
            df[c] = pd.to_datetime(df[c])

# list of the sepsis definitions
sepsis_list = ['sepsis_angus','sepsis_martin', 'sepsis_explicit',
               'sepsis_cdc','sepsis_nqf',
               'sepsis-3']

In [35]:
def print_stats(df): 
    print('{:5g} patients.'.format(df.shape[0]))

    print('{:5g} ({:2.0f}%) suspected of infection.'.format(
        df['suspicion_poe'].sum(), df['suspicion_poe'].sum()*100.0/df.shape[0]))

    print('{:5g} ({:2.2f}%) have SOFA >= 2.'.format(
      df['sofa>=2'].sum(),100.0*df['sofa>=2'].mean()))

    print('{:5g} ({:2.2f}%) have Sepsis-3 criteria (intersection of above two).'.format(
      df['sepsis-3'].sum(),100.0*df['sepsis-3'].mean()))

    print('{:5g} ({:2.2f}%) have suspicion and SOFA < 2.'.format(
        ((df['sofa>=2']==0) & (df['suspicion_poe']==1)).sum(),
        ((df['sofa>=2']==0) & (df['suspicion_poe']==1)).sum()*100.0/df.shape[0]))

    for c in sepsis_list:
        print('{:5g} ({:3.2f}%) - {}'.format(
        df[c].sum(), df[c].sum()*100.0/df.shape[0], c))

    print('{:5g} ({:2.2f}%) have Sepsis-3 criteria but not Angus.'.format(
        ((df['sepsis_angus']==0) & (df['sepsis-3']==1)).sum(),
        ((df['sepsis_angus']==0) & (df['sepsis-3']==1)).sum()*100.0/df.shape[0]))

print_stats(df)

61532 patients.
41057 (67%) suspected of infection.
45668 (74.22%) have SOFA >= 2.
33666 (54.71%) have Sepsis-3 criteria (intersection of above two).
 7391 (12.01%) have suspicion and SOFA < 2.
17420 (28.31%) - sepsis_angus
 9028 (14.67%) - sepsis_martin
 4734 (7.69%) - sepsis_explicit
 4151 (6.75%) - sepsis_cdc
 6329 (10.29%) - sepsis_nqf
33666 (54.71%) - sepsis-3
19347 (31.44%) have Sepsis-3 criteria but not Angus.

In [44]:
print_stats(df[df['excluded']==0])

12965 patients.
 8763 (68%) suspected of infection.
 9801 (75.60%) have SOFA >= 2.
 7091 (54.69%) have Sepsis-3 criteria (intersection of above two).
 1672 (12.90%) have suspicion and SOFA < 2.
 4049 (31.23%) - sepsis_angus
 2010 (15.50%) - sepsis_martin
 1202 (9.27%) - sepsis_explicit
 1404 (10.83%) - sepsis_cdc
 1474 (11.37%) - sepsis_nqf
 7091 (54.69%) - sepsis-3
 3587 (27.67%) have Sepsis-3 criteria but not Angus.

In [0]:
sepsis3_df=df[df['sepsis-3']==1]

In [0]:
sepsis3_df.to_csv('cleaned_sepsis3_cohort.csv')

In [0]:
sepsis3_df=sepsis3_df[sepsis3_df['excluded']==0]

Statistics with exclusions

In [43]:
print_stats(sepsis3_df)

 7091 patients.
 7091 (100%) suspected of infection.
 7091 (100.00%) have SOFA >= 2.
 7091 (100.00%) have Sepsis-3 criteria (intersection of above two).
    0 (0.00%) have suspicion and SOFA < 2.
 3504 (49.41%) - sepsis_angus
 1828 (25.78%) - sepsis_martin
 1143 (16.12%) - sepsis_explicit
 1241 (17.50%) - sepsis_cdc
 1399 (19.73%) - sepsis_nqf
 7091 (100.00%) - sepsis-3
 3587 (50.59%) have Sepsis-3 criteria but not Angus.